body{
    font-family: 'Ubuntu', sans-serif; 
}
td{
    border: 1.5px solid black;
    padding: 1px;
}

table{
    border-collapse: collapse;
    border-style:hidden;
    font-size: large;
    width: 700px;
    height: 700px;
    text-align: center;
    font-weight: 600;
    margin: 30px auto;
    
}
hr{
    border: 0.5px solid black;
}

#name{
    width: 100%;
    text-align: center;
}
.btn{
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    background-color: transparent;
}
.btn:hover, .btn_blue_green:hover, .btn_pink_violet:hover, .btn_red_yellow:hover{
    background-color: rgb(171, 170, 170);
    
}

.white{
    background-color: rgb(220, 220, 220);
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
   
}
.black{
    background-color: rgb(95, 95, 95);
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
}  

.btn_blue_green{
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    background-color: transparent;
}

.blue{
    background-color: blue;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    
}
.green{
    background-color: green;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
}

.btn_pink_violet{
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    background-color: transparent;
}

.pink{
    background-color: pink;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    
}
.violet{
    background-color: violet;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
   
}

.btn_red_yellow{
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    background-color: transparent;
}

.red{
    background-color: red;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
  
}
.yellow{
    background-color: rgb(255, 234, 0);
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
 
}

#header{
  width: 100%;
  height: 80px;
 position: absolute;
 left: 0px;
 top: 0;
 z-index: 2;
 -webkit-box-shadow: 0px 16px 41px -9px rgba(0, 0, 0, 1);
 -moz-box-shadow: 0px 16px 41px -9px rgba(0, 0, 0, 1);
 box-shadow: 0px 16px 41px -9px rgba(0, 0, 0, 1);
}


#menu_btn{
    position: absolute;
    left: 15px;
    top:15px;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    padding: 2px;
    margin: 5px;
    border: none;
    background-color: transparent;
}
#menuimg{
   position: relative;
   right: 4px;
   bottom: 4px;
    width: 38px;
    height: 38px;
    border-radius: 25px;
}
#menuimg:hover{
width: 40px;
height: 40px;
}

.options{
    display: none;
    
}
.options_closed{
    z-index: 1;
 position: absolute;
 background-color: white;
 -webkit-box-shadow: 0px 20px 60px -8px rgba(0, 0, 0, 1);
 -moz-box-shadow: 0px 20px 60px -8px rgba(0, 0, 0, 1);
 box-shadow: 0px 20px 60px -8px rgba(0, 0, 0, 1);
    width:100%;
    height:auto;
    left:0;
    top:-200px;
   
    animation-name: End, fade-out ;
    animation-duration: 0.7s,  0.6s;
    animation-fill-mode: forwards,  forwards;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);   
}
@keyframes End{
    0% {left:0px; top:80px}
   100% {left:0px; top:-200px}
} 

@keyframes fade-out{
    0% {opacity: 1;}
   100% {opacity: -1;}
} 



.display_options{
    background-color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 20px 41px -9px rgba(0, 0, 0, 1);
 -moz-box-shadow: 0px 20px 41px -9px rgba(0, 0, 0, 1);
 box-shadow: 0px 20px 41px -9px rgba(0, 0, 0, 1);
    width:100%;
    height: auto;
    left:0px;
    top:80px;
    
    animation-name: Open,  fade-in ;
    animation-duration: 0.7s, 0.9s;
    animation-fill-mode: forwards,  forwards;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
} 
@keyframes Open {
    0% {left:0px; top:-200px}
   100% {left:0px; top:80px}
} 


@keyframes fade-in{
    0% {opacity: -1;}
   100% {opacity: 1;}
} 


.theme{
    display: none;
    
}
.display_theme{
    text-align: center;
}
.theme_closed{
    text-align: center; 

}

#color-picker{
    border: 1px solid black;  
    width: 25px; 
   height: 25px;
   margin: 3px;
}
#theme_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme_buttons{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1.5px solid grey;   
    background: none;
    margin: 3px;
}

#blue_green_btn:active, #black_white_btn:active, #pink_violet_btn:active, #red_yellow_btn:active{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#blue_green_btn{
    background:linear-gradient(to right, blue 0%, blue 50%, green 50%, green 100%) ;
}
#black_white_btn{
    background: linear-gradient(to right, white 0%, white 50%,black 50%, black 100%);
}
#pink_violet_btn{
    background: linear-gradient(to right, pink 0%, pink 50%, violet 50%, violet 100%);
}
#red_yellow_btn{
    background: linear-gradient(to right, red 0%, red 50%, rgb(255, 234, 0) 50%, rgb(255, 234, 0) 100%);
}




#body{
    margin-top: 120px;
}

#clear{
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 50px;
    background-color: white;
    font-size: 30px;
    border: none;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
 -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
 box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}
#clear:active{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);   
}

#alert{
    position: fixed;
    width:300px;
    height: 300px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 25px;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);  
}
#new_game{
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    border: 1.5px solid black;
    
}
#new_game:active{
    width: 220px;
    height: 60px; 
    border-radius: 30px;
    font-size: 25px;
}
#text{
    display: block;
    width: 200px;
    height: 100px;
    margin: 50px auto;
    font-size: 25px;
    text-align: center;
}
.alert{
    display: none;
}
.alert_display{
    display:block
}