td{
    border: 1px solid black;
    padding: 1px;
}
table{
    border-collapse: collapse;
    font-size: large;
    width: 700px;
    height: 700px;
    text-align: center;
    font-weight: 600;
    margin: 30px auto;
    background-color: bisque;
}

#name{
    text-align: center;
}
.btn{
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 19px;
    border: none;
    background-color: transparent;
}
#clear{
    margin: 30px auto;
    text-align: center;
    padding: 5px;
    width: 700px;
    height: 50px;
    background-color: bisque;
    font-size: 30px;
    border: 1px solid black;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}